@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard Variable";
  src: url("/fonts/Pretendard-Variable.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Pretendard Variable", "Noto Sans KR", sans-serif;
}
